/* manager style sheet*/

.flashed-msg-container {
    position: absolute !important;
    top: 15% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 1000 !important;
    font-size: 3vw !important;
}

.alert-box {
    padding: 20px;
    opacity: 0.9;
    font-size: medium;
}

.error {
    background-color: #f44336;
    color: white;
}

.success {
    background-color: #85f56e;
    color: black;
}

.closebtn {
    margin-left: 20px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}

.calendar-container {
    padding-top: 1vh;
    height: auto;
}

.header {
    text-align: center;
    font-size: 2.2vw !important;
    font-weight: bold;
}

#calendar {
    padding-top: 2vw;
}

.event-info {
    position: relative;
    display: inline-block;
}

.event-info-div p {
    margin: 0;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.event-info-div {
    background-color: solid white;
    visibility: hidden;
    position: absolute;
    transform: translate(0, -55%);
    z-index: 999;
    border-radius: 15px;
    width: 105%;
    transition: all 0.1s ease-out 0.4s;
    opacity: 0;
}

.fc-daygrid-event-harness:hover > .event-info-div {
    opacity: 0;
    visibility: hidden;
}

.btn-calendar {
    height:100%;
    margin:5px;
}

.btn-primary {
    font-weight: bold;
    border-radius: 40px !important;
    padding: 12px;
    width: 150px;
}

/* Custom Navbar Styles */
.custom-navbar {
    display: flex;
    padding: 25px;
    border-bottom: var(--btn-color) 2px solid;
    font-weight: bold;
    color: white;
    text-align: center;
    vertical-align: middle;
}


.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link i {
    font-size: 1.5rem;
}

.navbar-left, .navbar-right {
    padding: 0;
    display: flex;
    text-decoration: none !important;
    margin-bottom: 0;
    width: 50%;
}

.navbar-right {
    justify-content: flex-end;
}
