{% extends "base.html" %}
{% block content %}

<!--Basic Header-->
<h1>Add Activity (Manager)</h1>

<!--Form for manager to create a new activity-->
<form method="post" name="addActivity">
    {{ form.hidden_tag() }}

    <!--Type (Name of activity)-->
    <p>
        {{ form.aType(class='form-control')}}
    </p>
    {% for error in form.aType.errors %}
        [{{ error }}]
    {% endfor %}

    <!--Price of activity-->
    <p>
        {{ form.aPrice(class='form-control')}}
    </p>
    {% for error in form.aPrice.errors %}
        [{{ error }}]
    {% endfor %}

    <!--Location of activity-->
    <p>
        {{ form.aLocation(class='form-control')}}
    </p>
    {% for error in form.aLocation.errors %}
        [{{ error }}]
    {% endfor %}

    <!--Capacity of activity-->
    <p>
        {{ form.aCapacity(class='form-control')}}
    </p>
    {% for error in form.aCapacity.errors %}
        [{{ error }}]
    {% endfor %}

    <!--Staff member on activity-->
    <p>
        {{ form.aStaffName(class='form-control')}}
    </p>
    {% for error in form.aStaffName.errors %}
        [{{ error }}]
    {% endfor %}

    <p><input type="submit" value="Add Activity"></p>
</form>
{% endblock %}