{% extends "base.html" %}
{% block content %}

<!--Basic Header-->
<h1>Add Event (Manager)</h1>

<!--Form for manager to create a new event for their chosen activity to be insterted into the calendar-->
<form method="post" name="addEvent">
    {{ form.hidden_tag() }}

    <!--Type (Name of Activity)-->
    <p>Activity Name
        <br>
        {{ form.cType(class='form-control')}}
        <br>
    </p>
    {% for error in form.cType.errors %}
        [{{ error }}]
    {% endfor %}

    <!--Date of activity-->
    <p>Date
        <br>
        {{ form.cDate(class='form-control')}}
        <br>
    </p>
    {% for error in form.cDate.errors %}
        [{{ error }}]
    {% endfor %}

    <!--Time of activity-->
    <p>Time
        <br>
        {{ form.cTime(class='form-control')}}
        <br>
    </p>
    {% for error in form.cTime.errors %}
        [{{ error }}]
    {% endfor %}

    <!-- Duration of activity-->
    <p>Activity Duration
        <br>
        {{ form.cDuration(class='form-control')}}
        <br>
    </p>
    {% for error in form.cDuration.errors %}
        [{{ error }}]
    {% endfor %}

    <p><input type="submit" value="Add Event"></p>
</form>
{% endblock %}