<!-- Template for manager analysis graphs -->
{% extends "base.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<h2>{{ activityFacility }}, Week of {{ dates[0] }} - {{ dates[6]}}</h2>

<hr>

<h3>Usage </h3>
<canvas id="usageChart" style="width:10%;max-width:700px"> Graph of usage data </canvas>

<hr>

<h3>Sales</h3>
<canvas id="salesChart" style="width:10%;max-width:700px"> Graph of usage data </canvas>

<!-- The below code is adapted from W3 schools -->
<script>
var xValues = ["{{dates[0]}}", "{{dates[1]}}","{{dates[2]}}","{{dates[3]}}","{{dates[4]}}","{{dates[5]}}","{{dates[6]}}"];
var maxUsage = 0;

new Chart("usageChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [
    {
      label: "Members",
      backgroundColor: "#a8d5e5",
      data: {{memberWeek}}
    },
    {
      label: "Non-Members",
      backgroundColor: "#93adcf",
      data: {{nonMemberWeek}}
    }]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }],
    }
  }
});

new Chart("salesChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [
    {
      backgroundColor: "#a8d5e5",
      data: {{sales}}
    }]
  },
  options: {
    legend: {display: false},
    layout: {
        padding: 20
    },
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }],
    }
  }
});
</script>


{% endblock %}