<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      
      {% if current_user.userType != 3 %}
      <!-- other css sheet: -->
        <link rel="stylesheet" href="../static/styles.css" type="text/css">
      {% endif %}

      <!-- Set title: -->
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title> No title specified</title>
      {% endif %}
    </head>
    
    <body>
      <!-- Navbar with links to all pages -->
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

        <!-- When we have users logged on, we can personalise navbar message for them here -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            {% if current_user.userType != 3 %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}"><i class="bi bi-house-door"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="/calendar"><i class="bi bi-calendar-date"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="/myBookings"><i class="bi bi-card-checklist"></i></a></li>

              <!-- Only managers should have access to these pages -->
              {% if current_user.userType == 2 %}
                <li class="nav-item"><a class="nav-link" href="/manageUsers">Manage Users</a></li>
              {% endif %}
            {% endif %}
            {% if current_user.userType == 3 %}
            <li class="nav-item"><a class="nav-link" href="/calendar"> Calendar</a></li>
              
              <li class="nav-item"><a class="nav-link" href="/addEvent">Add Event</a></li>
              <li class="nav-item"><a class="nav-link" href="/addActivity">Add Activity</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('editActivity') }}">Edit Activity</a></li>
              <li class="nav-item"><a class="nav-link" href="/manageUsers">Manage Users</a></li>
              <li class="nav-item"><a class="nav-link" href="/analysis">Analysis</a></li>
              <li class="nav-item"><a class="nav-link" href="/changeDiscount">Change discount</a></li>
            {% endif %}
          </ul>

          <ul class="nav navbar-nav ms-auto">
            {% if current_user.userType != 3 %}
              <li class="nav-item"><a class="nav-link" href="/basket"><i class="bi bi-cart2"></i></a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('settings') }}"><i class="bi bi-gear"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="/logout"><i class="bi bi-person-dash"></i></a></li>
          </ul>

        </div>
      </nav>
      {% else %}
      <!-- This is for user's that aren't logged in -->
      <div class="container-fluid p-md-3 pt-3 bg-light d-flex login-reg-container bg-transparent">
        <div class="row">
          <div class="col mr-2">
            <a class="btn btn-primary fs-5" href="{{ url_for('login') }}">LOGIN</a>
          </div>
          <div class="col p-0 m-0">
            <a class="btn btn-primary fs-5" href="{{ url_for('register') }}">REGISTER</a>
          </div>
        </div>
      </div>
      {% endif %}



      <!-- If user is manager then layout is different: -->
      <!-- layout of page content for managers: -->
      {% if current_user.userType == 3 %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-3"></div>
            <div class="col-6">
              <br> </br>
           </div>
        </div>
      </div>  
      {% endif %}

        {% block content %}{% endblock %}


      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
  </html>
