{% extends "base.html" %}
{% block content %}

<div class="container-fluid shopping-basket">


<!-- Flashed error Messages -->
<div class="d-flex align-items-center flashed-msg-container justify-content-center">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }} alert-box rounded-4 p-5">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times</span>
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}
    {% endwith %}
</div>

  
    <div class="login-reg-form-container rounded-4 p-4 box-shadow">
        <div class="col text-center border-bottom">
            <h1 class="fw-bold">Shopping Basket</h1>
        </div>
        <!-- If stuff in basket, display it -->

        {% if isItems %}
        <div class="table-responsive">
            <table class="table basket-table">
                <tr>
                    <th class="fw-bold text-start"> Item </th>
                    <th class="fw-bold text-end "> Price </th>
                    <th class="fw-bold text-end"> Remove </th>
                </tr>
                {% for i in range (0, num) %}
                <tr>
                    <td class="text-start">
                        {{ basketItems[i][0] }}
                    </td>
                    <td class="text-end">

                        £{{ basketItems[i][1] }}

                    </td>
                    <td class="text-center">
                        <a href="/deleteBasket/{{i}}"><button class="btn basket-button pb-0 pt-0">X</button></a>

                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>

        <div class="row align-items-center">
            <div class="col">
                <div class="m-2 p-2 ">

                    <h5>Discounts: -£{{ roundedDiscount }}</h5>
                    <h4 class="fw-bold">Total: £{{ roundedTotal }}</h4>

                </div>

            </div>


            <div class="col justify-content-center">
                
                <form action="/checkout" method="post" class="text-end">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button payment-btn"
                        data-key="{{ key }}" data-description="Push and Pull payment" data-amount="{{ totalPrice * 100 }}"
                        data-locale="auto" data-currency='gbp'>


                        </script>
                    <script>
                        // Hide default stripe button, be careful there if you
                        // have more than 1 button of that class
                        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                    </script>
                    <input type="checkbox" name="save-card" id="save-card">
                    <label for="save-card">Save card for next time</label>
                    <button type="submit" class="btn payment-btn p-3 m-2">Pay By Card</button>
                </form>
            </div>


        </div>


        {% else %}
        <br>
        <h3 class="text-center"> Please add something to your basket</h3>
        {% endif %}
    </div>
</div>
{% endblock %}