{% extends "base.html" %}
{% block content %}

<h1>Basket</h1>
<br>
<!-- If stuff in basket, display it -->
{% if isItems %}
    <table class="table">
        {% for i in range (0, num) %}
        <tr> 
            <td>
                {{ basketItems[i][0] }},
            </td> 
            <td>
                {% if itemDiscount[i] %}
                DISCOUNTED
                {% endif %}
                £{{ basketItems[i][1] }} 
            </td>
            <td>
                <a href="/deleteBasket/{{i}}"><button class="btn btn-primary" class="btn">Delete</button></a>
            </td>

    {% endfor %}
   
    </table>
     <h2>Subtotal: £ {{ roundedTotal }}</h2>


  <form action="/checkout" method="post">
    <script 
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="{{ key }}"
        data-description="A Flask Charge"
        data-amount="{{ totalPrice * 100 }}"
        data-locale="auto">
    </script>
  </form>


{% else %}
    <p> Please add something to your basket</p>
{% endif %}


{% endblock %}