{% extends "base.html" %}
{% block content %}

<!--Basic Header-->
<h1>Calendar</h1>

<!--Basic table to hold calendar information-->
<table class="table">
    <thead>
        <tr>
            <th >Date</th>
            <th >Time</th>
            <th>Activity Name</th>
            <th>Spaces Left</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for i in range (0 , numEvents-1) %}

        <tr>
            <!--display event and event info in the tables-->
            <td>{{events[i].activityDate}}</td>
            <td>{{events[i].activityTime}}</td>
            <td>{{eventInfo[i].activityType}}</td>
            <td>{{events[i].activityCurrent}}/{{eventInfo[i].activityCapacity}}</td>
            <!--TODO Popup for event info-->
            <td><a href=""><button type="button" class="btns">Event Info</button></td>


            <td><a href="/deleteEvent/{{events[i].id}}"><button type="button" class="btns">Delete Event</button></td>


        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}