<!-- Template for calender frontend -->
{% extends "base.html" %}

{% block content %}
<!--Basic Header-->
<h1>Calendar</h1>

<!--Basic table to hold calendar information-->
<table class="table">
    <thead>
        <tr>
            <th >Date</th>
            <th >Time</th>
            <th>Activity Name</th>
            <th>Spaces Left</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for i in range (0 , numEvents-1) %}
            <tr>
                <!--display event and event info in the tables-->
                <td>{{events[i].activityDate}}</td>
                <td>{{events[i].activityTime}}</td>
                <td>{{eventInfo[i].activityType}}</td>
                <td>{{events[i].activityCurrent}}/{{eventInfo[i].activityCapacity}}</td>
                <!--TODO Popup for event info-->
                <td><a href=""><button type="button" class="btns">Event Info</button></td>

                <!--If statement to see if acitivity is full and whether or not to dispay bookable button-->
                <td>
                    {% if events[i].activityFull == True %}
                        <a href=""></a><button type="button" class="btn">Full</button></a>
                    {% else %}
                        <a href="/makeBooking/{{events[i].id}}"><button type="button" class="btn">Book</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}