{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Edit a user's details</h1>
        <h3>Amend details.</h3>
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <p>{{ form.Name(class_='form-control') }}</p>
            {% for error in form.Name.errors %}
            <div class="alert alert-danger" role="alert">
                [{{ error }}]
              </div>
            {% endfor %}
            <p>{{ form.Email(class_='form-control') }}</p>
            {% for error in form.Email.errors %}
            <div class="alert alert-danger" role="alert">
                [{{ error }}]
              </div>
            {% endfor %}            
            <p>{{ form.NewPassword(class_='form-control') }}</p>
            {% for error in form.NewPassword.errors %}
            <div class="alert alert-danger" role="alert">
                [{{ error }}]
              </div>
            {% endfor %}
            <p>{{ form.NewPasswordx2(class_='form-control') }}</p>
            {% for error in form.NewPasswordx2.errors %}
            <div class="alert alert-danger" role="alert">
                [{{ error }}]
              </div>
            {% endfor %}

            {% if currentUserType == 3 %}
            <p>{{ form.Type(class_='form-control') }}</p>
            {% for error in form.Type.errors %}
            <div class="alert alert-danger" role="alert">
                [{{ error }}]
              </div>
            {% endfor %}
            {% endif %}

            
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}