{% extends "base.html" %}
{% block content %}

<!--Basic Header-->
<h1>Edit Activity (Manager)</h1>

<!--Form for manager to create a new activity-->
<form action="{{ url_for('editActivity') }}" method="post" name="addActivity">
    {{ form.hidden_tag() }}

    <!-- You need to be able to pick the activity you want to edit -->
    <label for="activities">Choose Activity</label>
    {% if activities == none %}
        <p>There are currently no activites.</p>
    {% else %}
        <select name="activity" class="form-control" id="activities">
        {% for activity in activities %}
            <option value="{{activity.activityType}}">{{ activity.activityType }}</option>
        {% endfor %}
        </select>
    {% endif %}
    <br><br>
    <label for="newType">New activity type</label>
    {{ form.aType(id="newType", class="form-control") }}

    {% for error in form.aType.errors %}
        [{{ error }}]
    {% endfor %}

    <p><input type="submit" class="btn btn-primary mt-5" value="Edit Activity"></p>
</form>
{% endblock %}
