{% extends "base.html" %}
{% block content %}

<!--Basic Header-->
<h1>Manage Users</h1>

<h2>Customers</h2>
<!--Basic table to hold booking information of a user-->
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range (0 , userType1num-1) %}
            <tr>
                <!--display event and event info in the tables-->
                    <td>{{userType1Login.userType}}</td>
                    <td>{{userType1Details[i].name}}</td>
                    <td>{{userType1Login[i].email}}</td>
                <!--Delete activity button-->
                <td>    
                    <a href="/editUser/{{userType1Login[i].id}}"><button type="button" class="btns">Edit</button></a>
                </td>
                <td>    
                    <a href="/deleteUser/{{userType1Login[i].id}}"><button type="button" class="btns">Delete</button></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}