{% extends "base.html" %}
{% block content %}

<!--Basic Header-->
<h1>Manage Users</h1>
<!-- Flashed Messages -->
<div class="d-flex align-items-center flashed-msg-container justify-content-center">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }} alert-box rounded-4 p-5">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times</span>
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<hr>
<br>

<div>
    <h2>Search by email or name...</h2>
    <form method="post" name="search">
        {{ form.hidden_tag() }}
        {{ form.search(class='form-control')}}
        <br>
        <input type="submit" class="btn btn-primary" value="Search">

    </form>

</div>
<br>
<hr>
<br>
<h2>Customers</h2>
<!--Basic table to hold booking information of a user-->
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>User Type</th>
            <th>Bookings</th>
            <th>Change membership</th>
            <th>Edit details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% if userTypeNum1 != 0 %}
            {% for i in range (0 , userTypeNum1) %}
                <tr>
                    <!--display event and event info in the tables-->
                    <td>{{userTypeLogin1[i].email}}</td>
                    <td>{{userTypeLogin1[i].userType}}</td>

                    <td>    
                        <a href="/calendar/{{userTypeLogin1[i].id}}"><button type="button" class="btns">Make Booking</button></a>
                        <a href="/proxyEdit/{{userTypeLogin1[i].id}}"><button type="button" class="btns">Edit Bookings</button></a>
                    </td>
                    <td>
                        <a href="/proxyChangeMembership/{{userTypeLogin1[i].id}}"><button type="button" class="btns">Change membership</button></a>

                    </td>
                    <td>    
                        <a href="/editUser/{{userTypeLogin1[i].id}}"><button type="button" class="btn btn-primary">Edit</button></a>
                    </td>
                    <td>    
                        <a href="/deleteUser/{{userTypeLogin1[i].id}}"><button type="button" class="btn btn-primary">Delete</button></a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>

<!-- Only managers should be able to alter Employee or User accounts -->
{% if userType == 3 %}
<br>
<hr>
<br>

<h2>Employees</h2>
<!--Basic table to hold booking information of a user-->
<table class="table">
    <thead>
        <tr>
            <!--<th>Type</th>-->
            <!--<th>Name</th>-->
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% if userTypeNum2 != 0 %}
            {% for i in range (0 , userTypeNum2) %}
                <tr>
                    <!--display event and event info in the tables-->
                        <td>{{userTypeLogin2[i].email}}</td>
                    <!--Delete activity button-->
                    <td>    
                        <a href="/editUser/{{userTypeLogin2[i].id}}"><button type="button" class="btn btn-primary">Edit</button></a>
                    </td>
                    <td>    
                        <a href="/deleteUser/{{userTypeLogin2[i].id}}"><button type="button" class="btn btn-primary">Delete</button></a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
<br>
<hr>
<br>
<h2>Managers</h2>
<!--Basic table to hold booking information of a user-->
<table class="table">
    <thead>
        <tr>
            <!--<th>Type</th>-->
            <!--<th>Name</th>-->
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% if userTypeNum3 != 0 %}
            {% for i in range (0 , userTypeNum3) %}
                <tr>
                    <!--display event and event info in the tables-->
                        <td>{{userTypeLogin3[i].email}}</td>
                    <!--Delete activity button-->
                    <td>    
                        <a href="/editUser/{{userTypeLogin3[i].id}}"><button type="button" class="btn btn-primary">Edit</button></a>
                    </td>
                    <td>    
                        <a href="/deleteUser/{{userTypeLogin3[i].id}}"><button type="button" class="btn btn-primary">Delete</button></a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>

{% endif %}
{% endblock %}