<!-- This code was taken from the link: https://www.w3schools.com/howto/howto_css_team.asp -->

<!--Template for Meet the Team Page-->
{% extends "base.html" %}
{% block content %}
<!--header for this page-->
<div class="header-div"> MEET THE TEAM </div>
    <div class="team-page container-fluid">
        <!--Table containing our team members and their contact information-->
        <div class="row">
            <div class="column">
                <div class="card">
                    <img class="img-team" src="static/images/hope.png" style="width:100%">
                    <div class="container rounded-4">
                        <h2 class="text-center"> Hope </h2>
                        <p class="title text-center"> Yoga & Pilates Instructor </p>
                        <p class="text-center"> Contact me: sc21hb@leeds.ac.uk </p>
                    </div>
                    
                </div>
            </div>



            <div class="column">
                <div class="card">
                    <img class="img-team" src="/static/images/aaditi.png" style="width:100%">
                    <div class="container">
                        <h2 class="text-center"> Aaditi </h2>
                        <p class="title text-center"> Swim Instructor </p>
                        <p class="text-center"> Contact me: sc21aa@leeds.ac.uk </p>
                    </div>
                    
                </div>
            </div>



            <div class="column">
                <div class="card">
                    <img class="img-team" src="/static/images/archie.png" style="width:100%">
                    <div class="container">
                        <h2 class="text-center"> Archie </h2>
                        <p class="title text-center"> Climbing Instructor </p>
                        <p class="text-center"> Contact me: sc21ag@leeds.ac.uk </p>
                    </div>
                    
                </div>
            </div>



            <div class="column">
                <div class="card">
                    <img class="img-team" src="/static/images/chloe.png" style="width:100%">
                    <div class="container">
                        <h2 class="text-center"> Chloe </h2>
                        <p class="title text-center"> Personal Trainer </p>
                        <p class="text-center"> Contact me: sc21cab@leeds.ac.uk </p>
                    </div>
                    
                </div>
            </div>



            <div class="column">
                <div class="card">
                    <img class="img-team" src="/static/images/gaelle.png" style="width:100%">
                    <div class="container">
                        <h2 class="text-center"> Gaelle </h2>
                        <p class="title text-center"> Squash Instructor </p>
                        <p class="text-center"> Contact me: sc21gd@leeds.ac.uk </p>
                    </div>
                    
                </div>
            </div>


            <div class="column">
                <div class="card">
                    <img class="img-team" src="static/images/toby.png" style="width:100%">
                    <div class="container">
                        <h2 class="text-center"> Toby </h2>
                        <p class="title text-center"> Aerobics Instructor </p>
                        <p class="text-center"> Contact me: sc21t2hh@leeds.ac.uk </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}