<!-- Template for memberships frontend -->
{% extends "base.html" %}

{% block content %}
<title>Memberships</title>
<h1>Buy a membership: </h1>
<form method="post" name="membership">
    {{ form.hidden_tag() }}

    <p>Start Date:
        <br>
        {{ form.MembershipStart(class='form-control')}}
        <br>
    </p>
    <p>End Date:
        <br>
        {{ form.MembershipEnd(class='form-control')}}
        <br>
    </p>
<input type="submit" value="Purchase">
</form>
{% endblock %}
