<!-- Template for viewing bookings -->
{% extends "base.html" %}

{% block content %}
<!--Basic Header-->
<h1>Bookings</h1>
<!-- Flashed Messages -->
<div class="d-flex align-items-center flashed-msg-container justify-content-center">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }} alert-box rounded-4 p-5">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times</span>
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<!--Basic table to hold booking information of a user-->
<table class="table">
    <thead>
        <tr>
            <th>Activity</th>
            <th>Date and Time</th>
            <th>Duration</th>
            <th>Location</th>
            <th>Staff Member</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for i in range (0 , numEvents) %}
            <tr>
                <!--display event and event info in the tables-->
                <td>{{eventInfo[i].activityType}}</td>
                <td>{{events[i].aDateTime}}</td>
                <td>{{events[i].aDuration}} hrs</td>
                <td>{{events[i].aLocation}}</td>
                <td>{{events[i].aStaffName}}</td>

                <!--Delete activity button-->
                <td>
                    {% if events[i].aDateTime > today %}
                        <a href="/deleteBooking/{{events[i].id}}"><button type="button" class="btn">Cancel</button></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}