{% extends "base.html" %}
{% block content %}


<h1> Pricing List </h1>

<!--
    display the opening times 

    display price of membership 

    create a table for the exercise classes available
    -> pilates / aerobics / yoga 
    name of class / date and time / price for session 

    create a table showing team events 
    -> swimming / sports hall 
    name / date and time / price for team booking 

    create a table showing the facilities available 
    -> name / time it is open / what activities are available 

-->

<h2> Opening times : 8am - 10pm, 7 days a week </h2>

<h2> Membership prices : £35 monthly, £300 annually</h2>

<h3> Weekly Exercise Classes </h3>
<h4> All of these classes will take place in the Studio </h4>
<table> 
    <tr> 
        <th> Exercise Class </th>
        <th> Day and Time </th>
        <th> Price </th>
    </tr>
    <tr>
        <td> Pilates </td>
        <td> Monday 6pm - 7pm </td>
        <td> £5 </td>
    </tr>
    <tr>
        <td> Aerobics </td>
        <td> Tuesday 10am - 11am </td>
        <td> £5 </td>
    </tr>
    <tr>
        <td> Aerobics </td>
        <td> Thursday 7pm - 8pm </td>
        <td> £5 </td>
    </tr>
    <tr>
        <td> Yoga</td>
        <td> Friday 7pm - 8pm </td>
        <td> £5 </td>
    </tr>
    <tr>
        <td> Aerobics </td>
        <td> Saturday 10am - 11am </td>
        <td> £5 </td>
    </tr>
    <tr> 
        <td> Yoga </td>
        <td> Sunday 9am - 10am </td>
        <td> £5 </td>
    </tr>
</table>

<h3> Team Bookings </h3>
<h4> Our swimming pool and Sports hall can be booked for Team events where you will get access to the entire facility for 2 hours</h4>
<table>
    <tr>
        <th> Facility </th>
        <th> Time </th>
        <th> Price of booking </th>
    </tr>
    <tr> 
        <td> Sports Hall </td>
        <td> Thursday 7pm - 9pm </td>
        <td> £60 </td>
    </tr>
    <tr> 
        <td> Swimming Pool </td>
        <td> Friday 8am - 10am </td>
        <td> £80 </td>
    </tr>
    <tr> 
        <td> Swimming Pool </td>
        <td> Sunday 8am - 10am </td>
        <td> £80 </td>
    </tr>
    <tr> 
        <td> Sports Hall </td>
        <td> Saturday 9am - 11am </td>
        <td> £60 </td>
    </tr>
</table>

<h3> Individual Bookings </h3>
<h4> Facilities can be booked by the hour </h4>
<table>
    <tr> 
        <th> Facility </th>
        <th> Booking Type </th>
        <th> Opening time </th>
        <th> Price per hour </th>
    </tr>
    <tr>
        <td> Swimming Pool </td>
        <td> General Use </td>
        <td> 8am - 8pm</td>
        <td> £5 </td>
    </tr>
    <tr> 
        <td> Swimming Pool </td>
        <td> Lane Swimming </td>
        <td> 8am - 8pm </td>
        <td> £5 </td>
    </tr>
    <tr>
        <td> Swimming Pool </td>
        <td> Lessons </td>
        <td> 8am - 8pm </td>
        <td> £10 </td>
    </tr>
    <tr> 
        <td> Fitness Room </td>
        <td> General Use </td>
        <td> 8am - 10pm </td>
        <td> £5 </td>
    </tr>
    <tr> 
        <td> Squash Court </td>
        <td> General Use </td>
        <td> 8am - 10pm </td>
        <td> £10 </td>
    </tr>
    <tr>
        <td> Sports Hall </td>
        <td> General Use </td>
        <td> 8am - 10pm </td>
        <td> £5 </td>
    </tr>
    <tr> 
        <td> Climbing Wall </td>
        <td> General Use </td>
        <td> 10am - 8pm </td>
        <td> £5 </td>
    </tr>
</table>


{% endblock %}