<!-- Template for login frontend -->
{% extends "base.html" %}
{% block content %}
<h1>Register</h1>
<form action="" method="post" name="register">
    <!-- inserts the secret CSRF key -->
    <!-- it is the unique identification generated for this request -->
    {{ form.hidden_tag() }}

    <p>{{ form.Name(class_='form-control') }}</p>
    <p>{{ form.DateOfBirth(class_='form-control') }}</p>

    <!-- Check if registree is old enough -->
    {% for error in form.DateOfBirth.errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endfor %}

    <p>{{ form.Address(class_='form-control') }}</p>
    <p>{{ form.Email(class_='form-control') }}</p>
    <p>{{ form.Password(class_='form-control') }}</p>
    <p>{{ form.ReenterPassword(class_='form-control') }}</p>

    <p>{{ form.Type(class_='form-control') }} </p>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>
{% endblock %}