<!-- Template for register frontend -->
{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
<form action="" method="post" name="register">
    <!-- inserts the secret CSRF key -->
    <!-- it is the unique identification generated for this request -->
    {{ form.hidden_tag() }}
    <p>{{ form.Name }}<br></p>
    <p>{{ form.DateOfBirth }}</p>
    <p>{{ form.Address }}<br></p>
    <p>{{ form.Email }}<br></p>
    <p>{{ form.Password }}</p>
    <p> {{ form.Type}} </p>
    <!-- confirm password field in sprint 2 -->
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}