<!-- Template for calender frontend -->
{% extends "base.html" %}
{% block content %}

<!--Basic Header-->
<h1>{{eventType}}</h1>
<!--All events are the same except for their date and time therefore we can use events[0] for information-->
<h4>
    Staff Member: {{events[0].aStaffName}} - Duration: {{events[0].aDuration}} hour(s)
</h4>

<!--Basic table to hold calendar information-->
{% for j in range(0, 7) %}
    <table class="table">
        <thead>{{weeks[j].strftime("%A")}} - {{weeks[j].strftime("%d/%m/%y")}}
            <th>Time</th>
            <th>Location</th>
            <th>Spaces Left</th>
            {% if member == False %}
                <th>Price</th>                        
            {% endif %}
            <th></th>
        </thead>
        <tbody>
            {% for i in range(numEvents) %}
                {% if events[i].aDateTime.weekday() == weeks[j].weekday() %} 
                    <tr>
                        <!--display event and event info in the tables-->
                        <td>{{events[i].aDateTime.strftime("%H:%M")}}</td>
                        <td>{{events[i].aLocation}}</td>
                        <td>{{events[i].aCapacity-events[i].aSlotsTaken}}</td>
                        {% if member == False %}
                            <td>{{events[i].aPrice}}</td>
                        {% endif %}
                        
                        <!--If statement to see if acitivity is full and whether or not to dispay bookable button-->
                        <td>
                            {% if current_user.userType != 3 %}
                                {% if events[i].aSlotsTaken == events[i].aCapacity %}
                                    <a href=""></a><button type="button" class="btn btn-primary">Full</button></a>
                                {% else %}
                                    {% if member == False %}
                                        <a href="/addBasket/{{events[i].id}}"><button type="button" class="btn btn-primary">Add to Basket</button>
                                    {% else %}    
                                        <a href="/makeBooking/{{events[i].id}}"><button type="button" class="btn btn-primary">Book</button>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <a href="/editEvent/{{events[i].id}}"><button type="button" class="btn btn-primary">Edit/View Event</button>
                            {% endif %}      
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
        
{% endblock %}