<!-- Template for calender frontend -->
{% extends "base.html" %}
{% block content %}

<div class="calendar-container container-fluid">
    <div class="row m-0 p-0 mb-4 text-center">
        <!--Basic Header-->
        <p class="header p-0 m-0 pt-0 mb-0">{{eventType}}</p>
        <h4>
            Staff Member: {{events[0].aStaffName}} - Duration: {{events[0].aDuration}} hour(s)
        </h4>
        <h4>
            {% if eventType == 'Squash' %}
                Location: Squash court 1 or Squash court 2
            {% else %}
                Location: {{events[0].aLocation}}
            {% endif %}
        </h4>
    </div>

    <div class="row m-0 p-0 mb-4 text-center">
    <!--Basic Header-->
    <p class="header p-0 m-0 pt-0 mb-0">Calendar</p>
    <p class="mb-4 text-center">If you would like to book one of our sessions that is open all day please choose
        from below.</p>
    <!-- <div class="col"></div>
    <div class="col"></div> -->
    <div class="d-flex justify-content-center">
        <div class="col">
            <a href="/repeatEvents/2"><button type="button" class="btn btn-primary btn-calendar">Lane
                    Swimming</button></a>
        </div>
        <div class="col">
            <a href="/repeatEvents/4"><button type="button" class="btn  btn-primary btn-calendar">General Use
                    Swimming</button></a>
        </div>
        <div class="col">
            <a href="/repeatEvents/3"><button type="button" class="btn  btn-primary btn-calendar">Swimming
                    Lessons</button></a>
        </div>
        <div class="col">
            <a href="/repeatEvents/5"><button type="button" class="btn  btn-primary btn-calendar">Gym</button></a>
        </div>
        <div class="col">
            <a href="/repeatEvents/7"><button type="button" class="btn  btn-primary btn-calendar">Climbing</button></a>
        </div>
        <div class="col">
            <a href="/repeatEvents/6"><button type="button" class="btn  btn-primary btn-calendar">Squash</button></a>
        </div>
        <div class="col">
            <a href="/repeatEvents/12"><button type="button" class="btn  btn-primary btn-calendar">Sports Hall
                    Session</button></a>
        </div>
    </div>
    
    <!-- <div class="col"></div>
    <div class="col"></div> -->
</div>

<div id="calendar2"></div>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css"></link>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>

<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.5/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.5/index.global.min.js'></script>

<script>
    //refernces:
    //https://github.com/fullcalendar/fullcalendar-docs/blob/main/_docs-v6/event-display/event-tooltip-demo.html
    //https://fullcalendar.io/
    
    document.addEventListener('DOMContentLoaded', function(){

        let cElem = document.getElementById('calendar2');

        let calendar = new FullCalendar.Calendar(cElem, { 
            //initialView: 'timeGridWeek',

            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            slotEventOverlap: false,
            navLinks: true, 
            editable: false,
            dayMaxEvents: true,
            businessHours: {
                daysOfWeek: [0,1,2,3,4,5,6],
                startTime: '8:00',
                endTime: '22:00',
            },
            displayEventTime: true,
            eventTimeFormat: {
                hour: 'numeric',
                minute: '2-digit',
                meridiem: true,
            },
            selectable: true,
            //contentHeight: 700,

            

            events: [
                {% for i in range(numEvents) %}
                    {
                        start : '{{events[i].aDateTime}}',
                        {% if isMember == True %}
                            title : 'Spaces: {{events[i].aCapacity-events[i].aSlotsTaken}} ',
                            url : '/makeBooking/{{ events[i].id }}',
                        {% else %}
                            title : '£{{events[i].aPrice}} - Spaces: {{events[i].aCapacity-events[i].aSlotsTaken}}',
                            url : '/addBasket/{{ events[i].id }}',
                        {% endif %}
                    },
                {% endfor %}
            ]

        });

        calendar.render();


    });
</script>
{% endblock %}