<!-- Template for calender frontend -->
{% extends "base.html" %}
{% block content %}

<div class="calendar-container container-fluid">
    <div class="row m-0 p-0 mb-4 text-center">
        <!--Basic Header-->
        <p class="header p-0 m-0 pt-0 mb-0">{{eventType}}</p>
        <h4>
            Staff Member: {{events[0].aStaffName}} - Duration: {{events[0].aDuration}} hour(s)
        </h4>
    </div>

    <div class="row">
        <div class="col calendar-info repeat-info mx-10 px-10 rounded-5 box-shadow">
            {% for j in range(0, 14) %}
            <!-- <tr> -->
            <table class="table table-responsive">
                <p class="mb-0 pt-6 calendar-days repeat-days">{{weeks[j].strftime("%A")}} - {{weeks[j].strftime("%d/%m/%y")}}</p>
                <thead>
                    <th>Time</th>
                    <th>Duration</th>
                    <th>Location</th>
                    <th>Spaces</th>
                    {% if isMember == False %}
                    <th>Price</th>
                    {% endif %}
                    <th></th>
                </thead>
                <tbody>
                    {% for i in range(numEvents) %}
                    {% if events[i].aDateTime.weekday() == weeks[j].weekday() %}
                    <tr>
                        <!--display event and event info in the tables-->
                        <td>{{events[i].aDateTime.strftime("%H:%M")}}</td>
                        <td>{{events[i].aDuration}}</td>
                        <td>{{events[i].aLocation}}</td>
                        <td>{{events[i].aCapacity-events[i].aSlotsTaken}}</td>
                        {% if isMember == False %}
                            <td>{{events[i].aPrice}}</td>
                        {% endif %}
                        {% if current_user.userType == 3 %}
                        <td><a href="/editEvent/{{events[i].id}}"><button type="button"
                                    class="btn btn-primary">Edit/View Event</button></td>
                        {% else %}
                        
                        <td>
                            {% if userBooked[i]==True %}
                            <a href=""></a><button type="button" class="btn btn-primary disabled">Booked</button></a>
                            {% elif events[i].aSlotsTaken == events[i].aCapacity %}
                            <a href=""></a><button type="button" class="btn btn-primary disabled">Full</button></a>
                            {% else %}
                            {% if isMember == False %}
                            <a href="/addBasket/{{events[i].id}}"><button type="button" class="btn btn-primary">Add to
                                    Basket</button>
                                {% else %}
                                <a href="/makeBooking/{{events[i].id}}"><button type="button"
                                        class="btn btn-primary">Book</button>
                                    {% endif %}
                                    {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <br>
                    </tr>
                </tbody>
            </table>
            <!-- </tr> -->
            {% endfor %}

            <!-- </tbody>
            

        </table> -->


        </div>

    </div>
</div>

<script>
    const disabledBtns = document.getElementsByClassName("disabled");
    for (let i = 0; i < disabledBtns.length; i++) {
        disabledBtns[i].disabled = true;
    }
    document.getElementById('disabled').disabled = true;
</script>
{% endblock %}