{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-success text-center">
    {{ message }}
    </div>
{% endfor %}
{% endif %}
{% endwith %}
<!--Basic Header-->
<h1>Manage Users</h1>

<div>
    <h2>Search by email or name...</h2>
    <form method="post" name="search">
        {{ form.hidden_tag() }}
        {{ form.search(class='form-control')}}
        <br>
        <input type="submit" class="btn btn-primary" value="Search">
    </form>

</div>

<br>
<hr>
<br>

<h2>Users</h2>
<!--Basic table to hold booking information of a user-->
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>User Type</th>
            <th>Bookings</th>
            <th>Change membership</th>
            <th>Edit details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range (0 , numUsers) %}
            <tr>
                <!--display event and event info in the tables-->
                <td>{{results[i].email}}</td>
                <td>{{results[i].userType}}</td>

                <td>    

                    <a href="/calendar/{{results[i].id}}"><button type="button" class="btns">Make Booking</button></a>
                    <a href="/proxyEdit/{{results[i].id}}"><button type="button" class="btns">Edit Bookings</button></a>
                </td>
                <td>
                    <a href="/proxyChangeMembership/{{results[i].id}}"><button type="button" class="btns">Change membership</button></a>

                </td>
                <td>    
                    <a href="/editUser/{{results[i].id}}"><button type="button" class="btn btn-primary">Edit</button></a>
                </td>
                <td>    
                    <a href="/deleteUser/{{results[i].id}}"><button type="button" class="btn btn-primary">Delete</button></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}