<!-- Template for settings frontend -->
{% extends "base.html" %}

{% block content %}

<div class="container-fluid settings-container">
  <div class=" login-reg-form-container  rounded-4 pb-4 px-5 pt-3 box-shadow">
    <div class="row mb-4">
      <div class="col border-bottom border-3">
        <h1 class="fw-bold">Settings</h1>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <h3 class="border-bottom pb-2">Amend Your Details</h3>
      </div>
    </div>
    <form action="" method="post">
      {{ form.hidden_tag() }}
    </form>
    <div class="row pb-3">
      <div class="col">
        <label for="name" class="fw-bold pb-2">Name</label>
        {{ form.Name(class_='form-control', id="name") }}
      </div>
    </div>
    <div class="row pb-3">
      <div class="col">
        <label for="pwd" class="fw-bold pb-2">Password</label>
        {{ form.Password(class_='form-control', id="pwd") }}
      </div>
    </div>
    <div class="row pb-3">
      <div class="col">
        <label for="newpwd" class="fw-bold pb-2">New Password</label>
        {{ form.Password(class_='form-control', id="newpwd") }}
      </div>
    </div>
    <div class="row pb-3">
      <div class="col">
        <label for="conpwd" class="fw-bold pb-2">Confirm New Password</label>
        {{ form.Password(class_='form-control', id="conpwd") }}
      </div>
    </div>
    <div class="row pt-1">
      <div class="col d-flex justify-content-end">
        <p><input type="submit" class="btn btn-primary" value="Submit"></p>
      </div>
    </div>
    {% if userIsMember %}
      <div class="row my-2 border-bottom border-top py-3">
        <div class="col border-right border-1 text-center">
          <h3 class="">Cancel Your Membership</h3>
        </div>
        <div class="col d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Cancel</button>
        </div>
      </div>
      <div class="row px-4">
        <!-- <div class="col-6 d-flex justify-content-center align-items-center">
          <p>I would like to cancel my membership.</p>
        </div> -->
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}