{% extends "base.html" %}
{% block content %}

<h1 class="team-title text-center"> TERMS AND CONDITIONS </h1>
<div class="team-page container-fluid">
    <div class="row">
        <div class="tc-column">
            <div class="card">
                <div class="container rounded-4">
                    <h2 class="text-center"> Refund Policy </h2>
                    <p class="text-center"> Unfortunately, we don't offer refunds </p>
                </div>
                
            </div>
        </div>

        <div class="tc-column">
            <div class="card">
                <div class="container rounded-4">
                    <h2 class="text-center"> House Rules </h2>
                    <p class="text-center"> 
                        We reserve the right to revoke memberships for those customers who display
                        anti-social behaviour</p>
                    <p class="text-center"> You must be atleast 16 years old to join </p>
                    <p class="text-center"> You must put away equipment after using it </p>
                    <p class="text-center"> You must shower before you enter the pool </p>
                    <p class="text-center"> Treat all staff with respect </p>
                    <p class="text-center"> Treat eachother with respect </p>
                </div>
                
            </div>
        </div>
    </div>
</div>



{%endblock%}